
body {
    margin: 0;
    padding:0;
    background-color:aliceblue;
}

li, a{
    color:pink;    
     text-decoration:none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 20px 20px;
}

.fitflow img{
    width: 200px;
    height: auto;
    display: block;
    margin:0;
    padding:0;
    border: 0; 
}

.navLinks li, a{
    list-style:none;
    display:inline-block;
    padding: 0px 30px;
    border: none;
    justify-content: space-between;    
    font-size: 20px;
    font-family:fantasy;
}

.navLinks li a:hover{
    color:white;
}

button { 
    cursor: pointer;
    border-radius: 60px;
    background-color:pink;
    color:blueviolet;
    padding: 10px 20px;
    border-color: pink;
    border: 5px;width: 200px;
    height: auto;
    font-size: 20px;
    font-family:fantasy;
}

button:hover{
border-color:white;
    border: 10px;
    color:white;
    background-color:rgb(255, 139, 158);
    
}

main{
    display:flex;
    justify-content:space-around;
}

.apresentacao{
    display:flex;
    align-items: center;
    justify-content: start;
}

.banner img{
    width: 800px;
    height: auto;
}

main li{
    color:black;
    list-style:none;
}